@{
    ViewBag.Title = "Page Scraper";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Page Scrape</h1>
        <p class="lead text-muted">Use this application to analyze the words and view images as a gallery from an external web url.</p>

    </div>
</section>

@Html.Action("_Request", "Scrape")

@section scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript">
        function onLoginBegin() {
            // Disable the button and hide the other image here
            // or you can hide the whole div like below
            $('#logbtn').hide();
        }
    </script>

}
