:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

    footer p {
        margin-bottom: .25rem;
    }


element.style {
}

.ekko-lightbox-nav-overlay a:last-child span {
    text-align: right;
}

.ekko-lightbox-nav-overlay a span {
    padding: 0 30px;
}

.ekko-lightbox-nav-overlay a > * {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.pswp__caption__center {
    text-align: center;
}

figure {
    display: inline-block;
    float: left;
}

.spacer {
    height: 5em;
}

.card{
    height:100%;
    padding-top:25px;
}

img-fluid {

}

.my-gallery .row {
    margin-bottom: 20px;
}

div#loading {
    display: none;
    text-align: center;
}
